@charset "utf-8";

/* bootstrap reset */


/* common */
body {font-family: 'Lato', sans-serif;color:#1f6ead;font-size:24px;text-align:center}
.fleft {float:left}
.fright {float:right}
.clear {clear:both}
.fullWidth {width:100%!important}
.center {text-align:center!important}
h1 {font-size:40px;font-weight:700;margin-bottom:30px}
h2 {font-size:32px;font-weight:700;margin-bottom:20px}
.blueBg {background:#1f6ead;color:#fff}
form input, form textarea {font-family: 'Lato', sans-serif;border:1px solid #ccc;color:#1f6ead;margin-bottom:15px;padding:10px;width:100%}
form textarea {height:160px}
form input.error, form textarea.error {border:1px solid #DC0000}
form label.error {color:#DC0000;font-size:16px;margin-top:-10px;display:inherit;text-align:left}
.blueBtn, .blueBtn:hover {padding:10px 20px;padding: 12px 20px;font-weight: 700;font-size: 24px;margin: 40px 5px 0 5px;border:none;background:#1f6ead;color:#fff}

/* header */
header {padding:16px 0;background: #f2f2f2;background: -moz-linear-gradient(top,  #f2f2f2 0%, #cccccc 100%);background: -webkit-linear-gradient(top,  #f2f2f2 0%,#cccccc 100%);background: linear-gradient(to bottom,  #f2f2f2 0%,#cccccc 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#cccccc',GradientType=0 );border-bottom:1px solid #bbb}

/* content */
.top {background:url(../images/top.jpg) top center no-repeat;background-size:cover;font-size:24px;font-weight:700;padding:40px 0 60px;color:#333}
.top p {margin-top:40px;padding:0 20px}
.arrow {top:-30px;font-size:60px!important;text-align:center;width:60px;height:60px;border-radius:60px;border:3px solid #1f6ead; color:#1f6ead;background:#fff;position:relative}
.course {position:relative;font-weight:100;padding-bottom:80px}
.course b {font-weight:400;font-size:30px}
.btn {padding:12px 20px;font-weight:700;font-size:24px;margin:40px 5px 0 5px}
.btn i {margin-left:10px}
.whiteBtn, .whiteBtn:hover {background:#fff;color:#1f6ead}
.borderBtn, .borderBtn:hover {border:1px solid #fff;color:#fff}
.info {font-size:18px;color:#1f6ead;padding:40px 0}
.info b {font-size:21px}
.freddy {background:#eee;padding:40px 0}
.freddy img {margin-bottom:40px;box-shadow:0 0 10px #999;border:2px solid #fff}
.freddy span {font-weight:100;color:#000}

/* footer */
footer {text-align:left;font-size:11px;margin:40px 0;color:#333}
footer .bmb {padding: 12px 15px}
.footerSocial {padding-right:0}
.footerSocial a {color:#fff;background:#000;text-align:center;width:18%;margin-right:2px;padding:4px;font-size:20px;float:left}
footer .brands {padding:40px 0;text-align:center}
footer .brands img{width:90%}


@media (min-width: 768px) {
	footer h3 {font-size:18px;margin:0 0 4px}
	.footerSocial a {font-size:14px}
	footer .bmb {border-left: solid 1px #848484}
}
@media (min-width: 960px) {
	footer h3 {font-size:21px}
	.footerSocial a {font-size:19px}
}
@media (min-width: 1200px) {
	footer h3 {font-size:24px}
	.footerSocial a {font-size:20px}
}